In [6]:
from sklearn.externals import joblib
import pandas as pd
import numpy as np

In [7]:
clf = joblib.load('modelo entrenado.pkl')

In [8]:
newdatacsv=pd.read_csv("new_data.csv")

In [9]:
newdatacsv

,ORIGEN,EDAD,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,INTUBADO,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,2,82,3,2,1,2,2,2,2,2,...,1,1,1,1,2,2,2,1,1,1
1,2,72,2,12,1,12,12,1,1,1,...,1,1,2,2,2,2,2,2,2,2
2,2,92,2,14,1,14,14,120,1,97,...,1,1,1,1,1,2,2,2,2,2
3,2,60,4,27,2,27,27,4,1,97,...,2,2,1,2,1,1,1,2,2,2
4,2,78,4,27,2,27,27,4,1,97,...,1,2,1,2,2,2,2,2,2,2
5,2,53,4,21,1,21,21,114,1,1,...,1,1,1,1,1,1,1,1,1,1

In [10]:
new_data = np.array(newdatacsv)
results = clf.predict(new_data)
print(results)

[[0.27662495]
 [0.33673918]
 [0.0156737 ]
 [0.0156737 ]
 [0.0156737 ]
 [0.30939665]]